@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.h1pj{
    margin-top: 50px;
    margin-left: 303px;
}
input{
    
    border: none;
    height: 50px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    
}
.btn-submit{
    background-color:rgb(70, 87, 247) ;
    color: aliceblue;
    
}